.input_field {
  width: 90%;
  margin:10px 3%;
  border: 2px solid #979797;
  border-radius: 5px;
  background-color: #D3D3D3;
  padding: 10px;
  color:#484848;
}

.input_field:focus{
  outline: none !important;
  border: 2px solid #979797;
}