.properties_wrapper {
  width: 1000px;
  margin: 0 auto;
  grid-gap: 30px;
}

.grid_view_mode {
  display: grid;
  grid-template-columns: auto auto auto;
}

a {
  outline: none;
  text-decoration: none;
}
