.button {
  border-width: 1px;
  border-style: solid;
  border-right: none;
  background: transparent;
  outline: none;
  color: #74777C;
  padding: 0;
}

.selected {
  background: #F1F3F6;
}

.left {
  border-radius: 0.1rem 0 0 0.1rem;
}

.right {
  border-radius: 0 0.1rem 0.1rem 0;
  border-right: 1px solid #74777C;
}

.standalone {
  border-radius: 0.1rem;
  border-right: 1px solid #74777C;
}

.page {
  width: 3rem;
  height: 2.7rem;
  border-color: #74777C;
}

.view_mode {
  width: 2.5rem;
  height: 2.5rem;
  border-color: #ADB2B6;
}

.view_mode svg {
  display: block;
  margin: auto;
}