.button {
  border-width: 1px;
  border-style: solid;
  border-right: none;
  background: transparent;
  border-color: #ADB2B6;
  color: #ADB2B6;
  padding: 0;
  cursor: pointer;
}

.button svg {
  display: block;
  margin: auto;
}

.medium_button {
  height: 35px;
  min-width: 40px;
  padding: 0 5px;
}

.large_button {
  height: 39px;
  padding: 0 15px;
}

.focused {
  background: #F1F3F6;
}

.rounded_left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.rounded_right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: 1px solid #ADB2B6;
}