.form {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.input {
  width: 450px;
  margin: 10px;
}

.row_btn {
  height: 30px;
}

.nav_link {
  text-decoration: none;
  margin: 5px;
}
