.form {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #1976d2;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  word-wrap: break-word;
}

.input {
  width: 400px;
}

.row_btn {
  height: 30px;
}
