.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.wrapper {
  border: 3px solid #1976d2;
  border-radius: 5px;
  padding: 0 20px;
  background-color: #fff;
  z-index: 10;
}

.row {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
  margin: 0 auto;
  max-width: 450px;
}

.dropdown_error {
  color: red;
  font-size: 14px;
}

.textarea{
  width: 300px;
  height: 200px;
  margin: 5px 0;
}

.label {
  color: #df434a;
  font-weight: 700;
  padding-right: 10px;
}
