.list {
  display: flex;
  gap: 32px;
  padding: 0;
  font-size: 15px;
}

.centered {
  justify-content: center;
}

.list_item {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #74777C;
}
