.header {
  background-image: url("./background.svg");
  background-color: #df434a;
  height: 240px;
  border-top: 10px solid #e29999;
  color: #ffffff;
  font-size: 3.2em;
  line-height: 3.9em;
}

.header_center {
  width: 1096px;
  margin: 0 auto;
  padding-top: 40px;
}
