:root {
  --background-header: #df434a;
  --background-header-line: #e29999;
  --text-header: #ffffff;
}

.header_wrapper {
  background-image: url("./background.svg");
  background-color: var(--background-header);
  height: 231px;
}

.header_line {
  background-color: var(--background-header-line);
  height: 10px;
}

.header {
  width: 1096px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  padding-top: 56px;
}

.header_logo {
  padding-right: 30px;
  padding-bottom: 5px;
}

.header_text {
  color: var(--text-header);
  font-size: 3.2em;
}
