:root {
  --background-header: #df434a;
  --background-header-line: #e29999;
  --text-header: #ffffff;
}

h2 {
  padding: 0;
  margin: 0;
}

.header_wrapper {
  background-image: url("../pictures/Header.png");
  background-color: var(--background-header);
  height: 231px;
}

.header_line {
  background-color: var(--background-header-line);
  height: 10px;
}

.header {
  width: 1096px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  padding-top: 56px;
}

.header_logo {
  padding-right: 30px;
}

.header_text {
  /*font-family: Inter;*/
  color: var(--text-header);
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
