@font-face {
  font-family: 'Inter';
  src: url(/public/fonts/NotoSans.ttf);
}

.subtitle_section_name {
  font-family: "Inter", sans-serif;
  position: relative;
  width: 1097px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 39px;
  font-weight: 400;
  font-size: 32px;
  color: #DF434A;
}

.subtitle_section_name::after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100px;
  border-top: 1px solid #DF434A;
  border-bottom: 1px solid #DF434A;
}
