.carousel-root {
  width: 60%;
  margin: 0 auto;
}

.carousel.carousel-slider .control-arrow {
  padding: 25px;
  opacity: 1;
  visibility: hidden;
}

.carousel.carousel-slider:hover .control-arrow {
  visibility: visible;
}

.carousel.carousel-slider .control-arrow:hover {
  background-color: transparent;
}

.carousel .control-next.control-next::before,
.carousel .control-prev.control-prev::before {
  width: 45px;
  height: 85px;
  border: none;
  margin: 0;
}

.carousel .control-next.control-next::before {
  content: url("./rightArrow.svg");
}

.carousel .control-prev.control-prev::before {
  content: url("./leftArrow.svg");
}

.carousel .thumbs-wrapper {
  margin: 0;
}

.carousel .thumbs {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}

.carousel .thumb {
  margin: 0;
  padding: 0;
  flex: 1;
  opacity: 0.5;
}

.carousel .thumb,
.carousel .thumb.selected,
.carousel .thumb:hover {
  border: none;
}

.carousel .thumb:hover {
  cursor: pointer;
}

.carousel .thumb.selected {
  opacity: 1;
}
