.wrapper {
  width: 1000px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.wrapper:hover .arrow {
  visibility: visible;
}

.main_slider {
  max-height: 615px;
}

.arrow {
  visibility: hidden;
  position: absolute;
  width: 50px;
  height: 90px;
  background: transparent;
  border: none;
  top: 35%;
  padding: 0;
  z-index: 1;
  cursor: pointer;
}

.arrow_prev {
  background-image: url("./leftArrow.svg");
  left: 25px;
}

.arrow_next {
  background-image: url("./rightArrow.svg");
  right: 25px;
}

.main_image {
  width: 1000px;
  max-height: 615px;
}

.thumb_image {
  width: 250px;
  max-height: 150px;
  object-fit: cover;
  opacity: 0.5;
}

.thumb_image:hover {
  cursor: pointer;
}

.thumb_image_current {
  opacity: 1;
}
