.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.4rem;
}

.footer{
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid #74777C;
  border-radius: 0.3rem;
}

.contact_info_item {
  display: flex;
  align-items: center;
}

.contact_link {
  text-decoration: none;
  color: #74777C;
  font-size: 0.85rem;
}