footer {
    background-color: #F1F3F6;
}

.wrapper {
    width: 60%;
    margin: auto;
    display: flex;
    font-size: 1.25rem;
    color: #4D4F52;
}

.wrapper svg {
    flex: 1;
    margin: 3rem 3rem 3rem 0;
}

.footer_contact {
    flex: 3;
    margin-top: 3rem;
}

.contact_info {
    margin-top: 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}