.li_not_available,
.li_available {
  color: #74777c;
  font-size: 16px;
  padding-left: 22px;
}

.li_available {
  list-style-image: url("./svg/✓.svg");
}

.li_not_available {
  list-style-image: url("./svg/✗.svg");
}
